<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello you have successfully logged in</h1>
    <h1>Here is your profile Details</h1>
    {{#if data}}
        <h2>name: {{data.name}}</h2>
        <h2>email: {{data.email}}</h2>
        <h2>location: {{data.location}}</h2>
        <h2>phone: {{data.phone}}</h2>
    {{/if}}
</body>
</html>