body{
    background-color: skyblue;
}

.formdiv{
    background-color: #eee;
    width:900px;
    margin: 0 auto;
    padding: 10px 0 50px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.left{
    display:inline-block;
    width:40%;
    text-align:right;
    padding-bottom:.30px; 
    padding-top:.30px;
}

.right{
    display:inline-block;
    width:40%;
    text-align:left;
    padding-bottom:30px; 
    padding-top:.30px;
}

.input-checkbox, .input-radio{
    display: block;
}

input[type="text"], input[type="number"]{
    width: 200px
}

#textarealabel{
    margin: 0;
    padding: 0;
}

p{
    font-weight: 700;
}

.success{
    color: green
}

.error{
    color: red
}

.mandatory{
    color: red;
    display: inline;
}

#submitbtn, #downloadbtn{
    color: white;
    height: 25px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

#submitbtn{
    background-color: blue;
    border: 2px solid blue;
}

#downloadbtn{
    background-color: green;
    border: 2px solid green;
}