body{
    font-family: 'Roboto', sans-serif;
}

#container{
    border: 2px solid #ccc;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}

.cards, .global{
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-bottom: 30px;
}

span{
    font-weight: 700;;
}